@import "spriting";
@import "assets";

// icon sprites
$icon-sprite-map: sprite-map('icon-sprite-map',
                              sprite-layout(horizontal, (spacing: 5px, alignment: bottom)),
                              // sprite-layout(vertical, (spacing: 50px, alignment: left)),
                              // sprite-layout(diagonal, ()),
                             'images/icons/*');

// @debug $icon-sprite-map;

// calling sprite-background generates the sprite map image
%icon-bg {
  @include sprite-background($icon-sprite-map);
}

@each $icon in sprite-list($icon-sprite-map) {
  // @debug sprite-identifier($icon-sprite-map, $icon);
  .icon-#{sprite-identifier($icon-sprite-map, $icon)} {
    @extend %icon-bg;
    @include sprite-position($icon-sprite-map, $icon);
    @include sprite-dimensions($icon-sprite-map, $icon);
    // background-color: #ADD8E6;
  }
}

// sprites for the blue button
$button-sprite-map: sprite-map('buttons-sprite-map',
                                sprite-layout(horizontal, (spacing: 0px, alignment: bottom)),
                                // sprite-layout(horizontal, (spacing: 10px, alignment: bottom)),
                               'images/buttons/*');

// @debug $button-sprite-map;

%button-bg {
  @include sprite-background($button-sprite-map);
}

.blue-button {
  @extend %button-bg;
  @include sprite-position($button-sprite-map, "images/buttons/blue.png");
  @include sprite-dimensions($button-sprite-map, "images/buttons/blue.png");
  color: white;
  text-align: center;
}

.blue-button:hover {
  @include sprite-position($button-sprite-map, "images/buttons/blue_hover.png");
}

.blue-button:active {
  @include sprite-position($button-sprite-map, "images/buttons/blue_active.png");
}
